/* Imports */
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Rasa');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
/* Main Styles */
body {
	background: blue;
	background-image: url("../images/contemporary_china.png");
  padding: 0 20%;
  font-family: 'Droid Serif', sans-serif;
  color: #333;
  line-height: 1.5em;
}
h1 {
  margin: 2em 0;
}
a {
	color:blue;
}
a:hover{
	color:red;
}
/* Social Networks */
.networks li {
  display: inline-block;
}
.networks li a {
  padding: 1em 1em 0 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;

}
.icon {
  -webkit-transition: color 0.25s linear;
}
.icon-email:hover {
  color: #cf4a39;
}
.icon-facebook:hover {
  color: #3b5998;
}
.icon-github:hover {
  color: #333;
}
.icon-linkedin:hover {
  color: #117eb9;
}
.icon-twitter:hover {
  color: #1da1f2;
}

/* Media Queries */