/* Imports */
@import 'fonts.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/* Main Styles */
body {
  background-image: url("../images/background.png");
  padding: 0 5%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #d6d6d6;
  line-height: 1.8em;
  border-bottom: 10px solid #01E0FE;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
h1 {
  text-align: center;
  margin: 2em 0;
  line-height: 1.5em;
  text-shadow: 0 2px 4px #000;
}
h2 {
  color: #fff;
}
a {
  color: #01E0FE;
  text-decoration: none;
  font-weight: 700;
  -webkit-transition: color 0.25s linear;
}
a:hover {
  color: #6aedff;
  text-decoration: underline;
}
strong {
  font-weight: 700;
  display: block;
}
section {
  margin-bottom: 4em;
}
nav ul {
  text-align: right;
}
nav li{
  display: inline-block;
}
nav li a {
  padding: 1em;
}
nav li:last-of-type a{
  padding-right: 0;
}
nav li a.active {
  color: white;
}
.hidden {
  display: none;
}
.profile-pic {
  border-radius: 50%;
  padding: 10%;
  background: #fff;
  max-width: 57%;
  margin: 2em auto;
  display: block;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}
/* Skills */
.skills ul {
  text-align: center;
  margin-bottom: 2em;
}
.skills li {
  display: inline-block;
  margin : 0.5em;
  padding: 5px 15px;
  border-radius: 20px;
  background: #4f4f4f;
  -webkit-box-shadow: inset 0 0 20px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px 4px rgba(0,0,0,0.5);
  color: #fff;
  list-style: none;
}
/* Social Networks */
.networks {
  margin: 4em 0;
  padding: 0;
}
.networks ul {
  text-align: center;
}
.networks li {
  display: inline-block;
}
.networks li a {
  padding: .5em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;
}
.icon {
  -webkit-transition: color 0.25s linear;
}
/* Media Queries */
@media (min-width: 300px){
  .profile-pic {
    padding: 21px;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 0 30%;
  }
  .profile-pic {
    max-width: 80%;
  }
}
